.sidebar {
		max-width: 335px;
		width: 100%;
		min-height: 100vh;
		padding: 34px 15px 15px 22px;
		border: 1px solid #000000;
		transition: max-width 0.3s;
}
.sidebar-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 35px;
}
.sidebar-btn {
		width: 32px;
		height: 32px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #f4f4f4;
		border: none;
		border-radius: 50%;
		padding-right: 7px;
		margin-right: -5px;
}
.sidebar-btn svg path {
		transition: fill 0.3s;
}
.sidebar-btn:focus {
		outline: none;
}
.sidebar-btn:hover {
		background-color: var(--primary-color);
}
.sidebar-btn:hover svg path {
		fill: #ffffff;
}
.sidebar-nav__list.sub-menu {
		overflow: hidden;
		padding-left: 50px;
		padding-top: 10px;
}
.sidebar-nav__list .sub-menu-item {
		position: relative;
}
.sidebar-nav__list .sub-menu-item a {
		padding: 0 5px 0 16px;
		border-radius: 5px;
}
.sidebar-nav__list .sub-menu-item a:hover {
		background-color: #f4f4f4;
}
.sidebar-nav__list .sub-menu-item a:active {
		background-color: rgba(128, 194, 66, 0.08);
		color: var(--primary-color);
}
.sidebar-nav__list .sub-menu-item a:active svg path {
		fill: var(--primary-color);
}
.sidebar-nav__list .sub-menu-item::before {
		content: "";
		position: absolute;
		width: 25px;
		height: 55px;
		left: -28px;
		top: -30px;
		border-left: 1px solid #e7e7e7;
		border-bottom: 1px solid #e7e7e7;
		border-bottom-left-radius: 10px;
}
.sidebar-nav__item:not(.sub-menu-item) {
		margin-left: -6px;
}
.sidebar-nav__item a {
		display: inline-block;
		width: 100%;
		display: flex;
		align-items: center;
		column-gap: 12px;
		cursor: pointer;
		background-size: auto;
		background-position: right 15px center;
		background-repeat: no-repeat;
		font-family: "Roboto", sans-serif;
		font-size: 15px;
		font-weight: 700;
		line-height: 48px;
		color: var(--main-text-color);
		transition: background-color 0.2s;
		border-radius: 5px;
		padding: 0 10px;
}
.sidebar-nav__item a svg {
		width: 28px;
}
.sidebar-nav__item a svg path {
		transition: fill 0.3s;
}
.sidebar-nav__item > a:hover {
		background-color: #f4f4f4;
}
.sidebar-nav__item.with-sub-menu.collapsed > a {
		background-image: url(../assets/icons/menu-icons/menu-item-shevron-down.png);
}
.sidebar-nav__item.with-sub-menu.collapsed .sub-menu {
		max-height: 0;
		padding-top: 0;
		transition: max-height 0.3s ease-out, padding-top 0.3s ease-out;
}
.sidebar-nav__item.with-sub-menu.expanded > a {
		background-image: url(../assets/icons/menu-icons/menu-item-shevron-up.png);
}
.sidebar-nav__item.with-sub-menu.expanded > a svg path {
		fill: var(--primary-color);
}
.sidebar-nav__item.with-sub-menu.expanded .sub-menu {
		max-height: 1000px;
		transition: max-height 0.3s ease-in, padding-top 0.3s ease-in;
}
.sidebar-nav__text {
		transition: font-size 0.2s ease-in;
}
.sidebar.collapsed {
		max-width: 75px;
		padding: 15px 10px;
}
.sidebar.collapsed .sidebar-header {
		flex-direction: column;
		align-items: center;
		row-gap: 20px;
		margin-bottom: 15px;
}
.sidebar.collapsed .sidebar-logo__expanded {
		display: none;
}
.sidebar.collapsed .sidebar-btn {
		margin-right: 0;
		padding-right: 3px;
		padding-left: 7px;
}
.sidebar.collapsed .sidebar-btn svg {
		transition: transform 0.2s;
}
.sidebar.collapsed .sidebar-btn svg {
		transform: rotate(-180deg);
}
.sidebar.collapsed .sidebar-nav__item {
		margin-left: 0;
		position: relative;
}
.sidebar.collapsed .sidebar-nav__item .sub-menu {
		position: absolute;
		z-index: 1;
		left: 3px;
		bottom: -10px;
		transform: translateY(100%);
		width: 320px;
		max-height: auto;
		opacity: 0;
		background-color: #ffffff;
		border-radius: 4px;
		box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
		padding: 22px 22px 22px 60px;
}
.sidebar.collapsed .sidebar-nav__item .sub-menu-item {
		max-width: 257px;
		width: 100%;
}
.sidebar.collapsed .sidebar-nav__item a:not(.sub-menu-link) {
		justify-content: center;
		width: 55px;
		height: 55px;
		border-radius: 5px;
		column-gap: 0;
}
.sidebar.collapsed .sidebar-nav__item a:not(.sub-menu-link):hover {
		background-color: #f4f4f4;
}
.sidebar.collapsed .sidebar-nav__item a:not(.sub-menu-link):active {
		background-color: rgba(128, 194, 66, 0.08);
}
.sidebar.collapsed .sidebar-nav__item a:not(.sub-menu-link):active svg path {
		fill: var(--primary-color);
}
.sidebar.collapsed .sidebar-nav__item.with-sub-menu > a {
		background-image: none;
}
.sidebar.collapsed .sidebar-nav__item.with-sub-menu:hover {
		color: #000000;
}
.sidebar.collapsed .sidebar-nav__item.with-sub-menu:hover .sub-menu {
		opacity: 1;
}
.sidebar.collapsed .sidebar-nav__item.with-sub-menu.expanded > a:not(:active) svg path {
		fill: #cdcdcd;
}
.sidebar.collapsed .sidebar-nav__text {
		font-size: 0;
}
.sidebar.expanded .sidebar-logo__collapsed {
		display: none;
}