$notebook: 1350px;
$tablet: 1025px;
$phone: 765px;
$small-phone: 450px;
$smallest-phone: 340px;

.sidebar {
    max-width: 335px;
    width: 100%;
    min-height: 100vh;
    padding: 34px 15px 15px 22px;
    border: 1px solid #000000; // temportary
    transition: max-width 0.3s;
    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 35px;
    }
    &-btn {
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f4f4f4;
        border: none;
        border-radius: 50%;
        padding-right: 7px;
        margin-right: -5px;
        svg path {
            transition: fill 0.3s;
        }
        &:focus {
            outline: none;
        }
        &:hover {
            background-color: var(--primary-color);
            svg path {
                fill: #ffffff;
            }
        }
    }
    &-nav {
        &__list {
            &.sub-menu {
                overflow: hidden;
                padding-left: 50px;
                padding-top: 10px;
            }
            .sub-menu-item {
                position: relative;
                a {
                    padding: 0 5px 0 16px;
                    border-radius: 5px;
                    &:hover {
                        background-color: #f4f4f4;
                    }
                    &:active {
                        background-color: rgba(128, 194, 66, 0.08);
                        color: var(--primary-color);
                        svg path {
                            fill: var(--primary-color);
                        }
                    }
                }
                &::before {
                    content: "";
                    position: absolute;
                    width: 25px;
                    height: 55px;
                    left: -28px;
                    top: -30px;
                    border-left: 1px solid #e7e7e7;
                    border-bottom: 1px solid #e7e7e7;
                    border-bottom-left-radius: 10px;
                }
            }
        }
        &__item {
            &:not(.sub-menu-item) {
                margin-left: -6px;
            }
            a {
                display: inline-block;
                width: 100%;
                display: flex;
                align-items: center;
                column-gap: 12px;
                cursor: pointer;
                background-size: auto;
                background-position: right 15px center;
                background-repeat: no-repeat;
                font-family: "Roboto", sans-serif;
                font-size: 15px;
                font-weight: 700;
                line-height: 48px;
                color: var(--main-text-color);
                transition: background-color 0.2s;
                border-radius: 5px;
                padding: 0 10px;
                svg {
                    width: 28px;
                    path {
                        transition: fill 0.3s;
                    }
                }
            }
            > a {
                &:hover {
                    background-color: #f4f4f4;
                }
            }
            &.with-sub-menu {
                &.collapsed {
                    > a {
                        background-image: url(../assets/icons/menu-icons/menu-item-shevron-down.png);
                    }
                    .sub-menu {
                        max-height: 0;
                        padding-top: 0;
                        transition: max-height 0.3s ease-out, padding-top 0.3s ease-out;
                    }
                }
                &.expanded {
                    > a {
                        background-image: url(../assets/icons/menu-icons/menu-item-shevron-up.png);
                        svg path {
                            fill: var(--primary-color);
                        }
                    }
                    .sub-menu {
                        max-height: 1000px;
                        transition: max-height 0.3s ease-in, padding-top 0.3s ease-in;
                    }
                }
            }
        }
        &__text {
            transition: font-size 0.2s ease-in;
        }
    }
    &.collapsed {
        max-width: 75px;
        padding: 15px 10px;
        .sidebar-header {
            flex-direction: column;
            align-items: center;
            row-gap: 20px;
            margin-bottom: 15px;
        }
        .sidebar-logo {
            &__expanded {
                display: none;
            }
            &__collapsed {
            }
        }
        .sidebar-btn {
            margin-right: 0;
            padding-right: 3px;
            padding-left: 7px;
            svg {
                transition: transform 0.2s;
            }
            svg {
                transform: rotate(-180deg);
            }
        }
        .sidebar-nav__item {
            margin-left: 0;
            position: relative;
            .sub-menu {
                position: absolute;
                z-index: 1;
                left: 3px;
                bottom: -10px;
                transform: translateY(100%);
                width: 320px;
                max-height: auto;
                // overflow: visible;
                opacity: 0;
                background-color: #ffffff;
                border-radius: 4px;
                box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
                padding: 22px 22px 22px 60px;
                &-item {
                    max-width: 257px;
                    width: 100%;
                }
            }
            a:not(.sub-menu-link) {
                justify-content: center;
                width: 55px;
                height: 55px;
                border-radius: 5px;
                column-gap: 0;
                &:hover {
                    background-color: #f4f4f4;
                }
                &:active {
                    background-color: rgba(128, 194, 66, 0.08);
                    svg path {
                        fill: var(--primary-color);
                    }
                }
            }
            &.with-sub-menu {
                > a {
                    background-image: none;
                }
                &:hover:not(.sub-menu) {
                    color: #000000;
                    .sub-menu {
                        opacity: 1;
                    }
                }
                &.expanded {
                    > a:not(:active) {
                        svg path {
                            fill: #cdcdcd;
                        }
                    }
                }
            }
        }
        .sidebar-nav__text {
            font-size: 0;
        }
    }
    &.expanded {
        .sidebar-logo {
            &__expanded {
            }
            &__collapsed {
                display: none;
            }
        }
    }
}
